<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | evee</title>
    <link rel="shortcut icon" href="../img/evee.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="body_evee">
    <h1>Evee</h1>
    <div align="center">
        <button><a href="../index.html">Volver a pokedex</a></button>
    </div>
    <div align="center">
        <img src="../img/evee.png" alt="snivy">
    </div>
    <p>Tipo: <span>Normal</span></p>
    <div align="center">
        <button><a href="./evoluciones evee.html">Evoluciones</a></button>
    </div>
    <br>
    <div align="center">
        <b>Descripción</b>,
    </div>

    <p>Su irregular estructura genética alberga el secreto de la capacidad que posee este Pokémon tan especial para adoptar evoluciones muy variadas</p>
</body>

</html>