<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evoluciones | Evee</title>
    <link rel="shortcut icon" href="../img/pokeball.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Lora', serif;">
    <h1 style="text-align: center;">Evoluciones | Evee</h1>
    <div align="center">
        <button><a href="../index.html">Volver a pokedex</a></button><button><a href="./evee.html">Volver a evee</a></button>
    </div>
    <img src="../img/vaporeon.png" style="width: 25%;" alt="Vaporeon">
    <img src="../img/flareon.png" style="width: 25%;" alt="Flareon">
    <img src="../img/vaporeon.png" style="width: 25%;" alt="Lumbreon">
    <p>Se evoluiona con piedra agua y se llama vaporeon</p>
</body>

</html>