<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Giratina</title>
    <link rel="shortcut icon" href="../img/giratina.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <style>

    </style>
</head>

<body class="body_giratina">

    <h1><span id="span_tittle">Giratina</span></h1>
    <br>
    <div align="center">
        <button><a href="../index.html">Volver a pokedex</a></button>
    </div>
    <br>
    <div align="center">
        <img src="../img/giratina.png" alt="Giratina">
    </div>
    <br>
    <p>Tipo: <span id="span2">Fantasma</span> <span id="span">Dragon</span></p>
    <br>
    <div align="center">
        <b>Descripción</b>,
    </div>
    <br>
    <p>Vive en el Mundo Distorsión, un mundo opuesto al nuestro y cuyas leyes desafían el sentido común.</p>
</body>

</html>