<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon | Siny</title>
    <link rel="shortcut icon" href="../img/snivy.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: rgba(39, 145, 62, 0.705);
        }
        
        a {
            text-decoration: none;
        }
    </style>
</head>

<body style="font-family: 'Lora', serif;">
    <h1 style="text-align: center; color: rgb(0, 0, 0);">Snivy</h1>
    <div align="center">
        <button><a href="../index.html">Volver a pokedex</a></button>
    </div>
    <div align="center">
        <img src="../img/snivy.png" alt="Giratina" style="width: 25%;">
    </div>
    <p style="text-align: center">Tipo: <span style="background-color: rgb(17, 216, 17);padding: 3px;border-radius: 5px;">Planta</span></p>
    <div align="center">
        <b>Descripción</b>,
    </div>
    <p style="text-align: center;">Sintetiza la luz del sol que recoge con su cola. Esta se le queda abatida cuando le fallan las energías.</p>
</body>

</html>