<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon | Siny</title>
    <link rel="shortcut icon" href="../img/snivy.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <style>

    </style>
</head>

<body class="body_snivy">
    <br>
    <h1>Snivy</h1>
    <div align="center">
        <button><a href="../index.html">Volver a pokedex</a></button>
    </div>
    <div align="center">
        <img src="../img/snivy.png" alt="Giratina">
    </div>
    <p>Tipo: <span id="span">Planta</span></p>
    <div align="center">
        <b>Descripción</b>,
    </div>
    <p>Sintetiza la luz del sol que recoge con su cola. Esta se le queda abatida cuando le fallan las energías.</p>
</body>

</html>