<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon | Zoroark</title>
    <link rel="shortcut icon" href="../img/zoroark.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="body_zoroark">
    <h1>Zoroark</h1>
    <div align="center">
        <button><a href="../index.html">Volver a pokedex</a></button>
    </div>
    <div align="center">
        <img src="../img/zoroark.png" alt="Giratina">
    </div>
    <p>Tipo: <span id="span1">Siniestro</span></p>
    <div align="center">
        <b>Descripción</b>,
    </div>
    <p>Zoroark es un Pokémon de tipo siniestro introducido en la quinta generación. Es la evolución de Zorua. Se trata de un Pokémon adelantado debido a que aparece en la P13.</p>
</body>

</html>